<!-- Alert -->
<% if flash[:success] %>
<div class='alert alert-success' role='alert'>
	<%= flash[:success] %>
	<button type='button' class='close' data-dismiss='alert' aria-label='Close'>
		<span class="close-button" aria-hidden='true'>&times</span>
	</button>
</div>
<% end %>

<!-- Dashboard -->

<!-- Pending events, validate or refuse & info -->
<div class="album py-5 bg-light">
	<div class="container">
		<h3>Welcome to your dashboard, <%= @admin.first_name %></h3><br>
		<h5>Pending events</h5>
		<div class="row">
			<% @event.each do |e| %>
			<% if e.validated == nil %>
			<div class="col-md-4">
				<div class="card mb-3 shadow-sm">
					<div class="d-flex w-100 justify-content-between">
						<div class="card-body">
							<b><p class="mb-1"><%= e.title %></p></b>
							<p class="mb-1"><%= e.admin.first_name %> <%= e.admin.last_name %></p>
							<%= link_to "Info", event_path(e.id), :class => "btn btn-sm btn-outline-info" %>
							<%= link_to "Validate", edit_event_submission_path(e.id), :class => "btn btn-sm btn-outline-success" %>
							<%= link_to "Refuse", event_path(e.id), method: :delete, :class => "btn btn-sm btn-outline-danger" %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div><br>

<!-- Pending sign up, with validate or refuse -->
		<h5>Pending sign up</h5>
		<div class="row">
			<% @user.each do |u| %>
			<% if u.validated == nil %>
			<div class="col-md-4">
				<div class="card mb-3 shadow-sm">
					<div class="d-flex w-100 justify-content-between">
						<div class="card-body">
							<b><p class="mb-1"><%= u.first_name %> <%= u.last_name %></p></b>
							<p class="mb-1"><%= u.email %></p>
							<%= link_to 'Validate', edit_user_validation_path(u.id), :class => "btn btn-sm btn-outline-success" %>
							<%= link_to 'Refuse', user_path(u.id), method: :delete, :class => "btn btn-sm btn-outline-danger" %>
							<div class="d-flex justify-content-between align-items-center">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div><br>

<!-- List of users, delete or info -->
		<h5>Manage your users</h5>
		<div class="row">
			<% @user.each do |u| %>
			<% if u.validated == true %>
			<div class="col-md-4">
				<div class="card mb-3 shadow-sm">
					<div class="d-flex w-100 justify-content-between">
						<div class="card-body">
							<b><p class="mb-1"><%= u.first_name %> <%= u.last_name %></p></b>
							<p class="mb-1"><%= u.email %></p>
							<%= link_to 'Info', user_path(u.id), :class => "btn btn-sm btn-outline-info" %>
							<%= link_to 'Delete', user_path(u.id), method: :delete, :class => "btn btn-sm btn-outline-danger" %>
							<div class="d-flex justify-content-between align-items-center">
							</div>
						</div>

					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
