<h1>Edit your profile</h1>

<%= form_for user_path do |f| %>

<%= label_tag 'First name' %> <br />
<%= f.text_field :first_name %>
<br /> <br />
<%= label_tag 'Last name' %> <br />
<%= f.text_field :last_name %>
<br /> <br />
<%= label_tag 'Email' %> <br />
<%= f.text_field :email %>
<br /> <br />
<%= label_tag 'Password' %> <br />
<%= f.text_field :password %>
<br /> <br />

<%= submit_tag "Edit" %>

<% end %>