<div id="card_user">
	<div class="card text-center" style="width: 30rem;">
		<div class="card-body">
			<h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
			<h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
			<p class="card-text"><%= @user.description %></p>
			<%= link_to 'Edit profile', edit_user_registration_path %>
		</div>
	</div>
</div>

