<div class="text-center py-5">

	<div class="container py-5">
		<div class="col-md-5 offset-md-3">
			<div class="card" style="width: 30rem;">
				<div class="card-body">
					<% if @user.avatar.attached? %>
					<div class="text-center"><%= image_tag @user.avatar, alt: 'avatar', class: "avatar" %></div><br>
					<%= form_tag user_avatars_path(@user.id), multipart: true do %>
						<%= file_field_tag :avatar %><br>
					<%= submit_tag 'change your avatar', :class => "btn btn-outline-secondary", :style => "width: 10rem;" %>
					<% end %>
					<% else %>
					<%= form_tag user_avatars_path(@user.id), multipart: true do %>
					<%= file_field_tag :avatar %>
					<%= submit_tag 'change your avatar', :class => "btn btn-outline-secondary", :style => "width: 10rem;" %>
					<% end %>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
						<h6 class="card-subtitle mb-2 text-muted"><%= @user.email %></h6>
						<p class="card-text"><%= @user.description %></p>
						<% if current_user.is_admin == true %>
						<%= link_to 'Edit profile', edit_user_path(@user.id) %><br>
						<%= link_to 'Back', admin_index_path %>
						<% else %>
						<%= link_to 'Edit profile', edit_user_registration_path %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





