<section class="jumbotron text-center" style="background-image: url(https://kid101.com/wp-content/uploads/2017/03/Cougar-Color-Run-Rummage-Sale.jpg);">
	<div class="container">
		<b><h1 class="jumbotron-heading mt-5 pb-3 text-light" style="font-family: arial;">Eventbruh</h1></b>
		<p class="lead text-light" style="font-family: arial;">Share your passion with a bruh network.</p>
		<% if user_signed_in? == false %>
		<%= link_to 'Start now', new_user_registration_path, :class => "btn btn-lg btn-info" %>
		<% end %>
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<h5>Events near you</h5>
		<p>See what's happening soon in your area.</p> 
		<div class="row">
			<% @event.each do |e| %>
			<% if e.validated == true %>
			<div class="col-md-4">
				<div class="card mb-3 shadow-sm">
					<div class="d-flex w-100 justify-content-between">
						<div class="card-body">
							<h6 class="mb-1"><%= e.title %></h6>
							<p class="mb-1"><%= e.admin.first_name %> <%= e.admin.last_name %></p>
							<p class="mb-1"><small>at <%= e.location %></small></p><br>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<% if user_signed_in? %>
									<%= link_to 'Info', event_path(e.id), :class => "btn btn-sm btn-outline-info" %>
									<% else %>
									<%= link_to 'Info', new_user_session_path, :class => "btn btn-sm btn-outline-info" %>
									<% end %>
								</div>
								<small class="text-muted">Start date: <%= e.start_date.strftime("%Y-%m-%d") %></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>


