<% if flash[:danger] %>
<div class='alert alert-danger' role='alert'>
	<%= flash[:success] %>
	<button type='button' class='close' data-dismiss='alert' aria-label='Close'>
		<span class="close-button" aria-hidden='true'>&times</span>
	</button>
</div>
<% end %>
<div class="text-center py-5">

	<h2>Edit your event</h2><br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<%= form_for @event, :html => { :multipart => true } do |f|%>
				<div class="form-group">
					<%= label_tag 'Start date' %> <br />
					<%= f.text_field 'start_date', class: "form-control text-center" %>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Duration' %> <br />
					<%= f.text_field 'duration', class: "form-control text-center" %>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Title' %> <br />
					<%= f.text_field 'title', class: "form-control text-center" %>
				</div><br /> <br />		

				<div class="form-group">
					<%= label_tag 'Description' %> <br />
					<%= f.text_area 'description', class: "form-control text-center" %>
				</div><br /> <br />			

				<div class="form-group">
					<%= label_tag 'Price' %> <br />
					<%= f.text_field 'price', class: "form-control text-center" %>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Location' %> <br />
					<%= f.text_field 'location', class: "form-control text-center" %>
				</div><br /> <br />

				<div class="form-group">
					<p><b><%= label_tag 'Image' %></b> &nbsp; <%= f.file_field :event_picture %></p>
				</div><br />

				<%= submit_tag "Update", :class => 'btn btn-secondary' %>

				<% end %>
			</div>
		</div>
	</div>
</div>

