<% if flash[:danger] %>
<div class='alert alert-danger' role='alert'>
	<%= flash[:success] %>
	<button type='button' class='close' data-dismiss='alert' aria-label='Close'>
		<span class="close-button" aria-hidden='true'>&times</span>
	</button>
</div>
<% end %>

<div class="text-center py-5">
	<h2>Create a new event</h2><br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<%= form_tag events_path, method: :post, multipart: true do%>
				<div class="form-group">
					<%= label_tag 'Start date' %> <br />
					<%= text_field_tag 'start_date', nil, class: 'form-control text-center'%>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Duration' %> <br />
					<%= text_field_tag 'duration', nil, class: 'form-control text-center' %>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Title' %> <br />
					<%= text_field_tag 'title', nil, class: 'form-control text-center' %>
				</div><br /> <br />		

				<div class="form-group">
					<%= label_tag 'Description' %> <br />
					<%= text_area_tag 'description', nil, class: 'form-control text-center'%>
				</div><br /> <br />			

				<div class="form-group">
					<%= label_tag 'Price' %> <br />
					<%= text_field_tag 'price', nil, class: 'form-control text-center'%>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Location' %> <br />
					<%= text_field_tag 'location', nil, class: 'form-control text-center'%>
				</div><br /> <br />

				<div class="form-group">
					<%= label_tag 'Image' %> <br />
					<%= file_field_tag :event_picture %>
				</div><br /> <br />

				<%= submit_tag "Create", :class => 'btn btn-secondary' %>

				<% end %>
			</div>
		</div>
	</div>
</div>

