<div class="card text-center">
  <div class="card-header">
    <h5><%= @event.title %></h5>
  </div>
  <div class="card-body">
    <ul class="card-text">
    	Description: <%= @event.description %><br>
    	Location: <%= @event.location %><br>
    	Price: $<%= @event.price %><br>
    	Participants: <%= @event.attendances.count %><br><br>
    	Contact: <%= @event.admin.email %><br>
    </ul>
  </div>
  <div class="card-footer text-muted">
   Start date: <%= @event.start_date.strftime("%Y-%m-%d") %>
 </div>
 <% if user_signed_in? && not_participant_nor_admin(@event) %>
  <%= link_to 'Register', new_event_attendance_path(@event.id), method: :get, :class => "btn btn-sm btn-outline-secondary" %>
 <% end %>
</div>


