<% if flash[:success] %>
<div class='alert alert-success' role='alert'>
  <%= flash[:success] %>
  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
    <span class="close-button" aria-hidden='true'>&times</span>
  </button>
</div>
<% end %>

<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <% if @event.validated == true %>
          <div class="card-block m-5">
            <h5 class="card-title"><%= @event.title %></h5>
            <p class="card-text"><b>Description:</b> <%= @event.description %></p>
            <p class="card-text"><b>Location:</b> <%= @event.location %></p>
            <p class="card-text"><b>Price:</b> $<%= @event.price %></p>
            <p class="card-text"><b>Participants:</b> <%= @event.attendances.count %> (<%= link_to 'see all', event_attendances_path(@event.id) %>)</p>
            <p class="card-text"><b>Contact:</b> <%= @event.admin.email %></p>          
            <% if user_signed_in? && not_participant_nor_admin(@event) %>
            <div class="container">
             <%= link_to 'Register', new_event_attendance_path(@event.id), method: :get, :class => "btn btn-sm btn-outline-success" %>
             <% end %>
             <% if user_signed_in? && current_user == @event.admin || current_user.is_admin == true %>
             <%= link_to 'Edit', edit_event_path(@event.id), :class => "btn btn-sm btn-outline-secondary" %>
             <%= link_to 'Delete', event_path(@event.id), method: :delete, :class => "btn btn-sm btn-outline-danger" %>
             <% end %>
           </div>
         </div>
         <div class="col-md-6">
           <% if @event.event_picture.attached? %>
           <%= image_tag @event.event_picture, alt: 'event picture', class: "event-picture" %>
           <% else %>
           <%= image_tag "#{rand(1..3)}.png", alt: 'event picture', class: "event-picture" %>
           <% end %>
         </div>
         <% else %>
         <p class="m-5">Pending validation...</p>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</section>



